// Modular scale on perfect fifth with 18px/256px
// http://modularscale.com/scale/?px1=18&px2=128&ra1=1.5&ra2=0
$size0: 1em;

// Up
$size21: 57.665rem;
$size20: 54rem;
$size19: 38.444rem;
$size18: 36rem;
$size17: 25.629rem;
$size16: 24rem;
$size16: 17.086rem;
$size15: 16rem;
$size14: 11.391rem;
$size13: 10.667rem;
$size12: 7.594rem;
$size11: 7.594rem;
$size10: 7.111rem;
$size9: 5.063rem;
$size8: 4.741rem;
$size7: 3.375rem;
$size6: 3.161rem;
$size5: 2.25rem;
$size4: 2.107rem;
$size3: 1.873rem;
$size2: 1.5rem;
$size1: 1.405rem;

// Base
$size0: 1rem;

// Down
$size-1: 0.936rem;
$size-2: 0.667rem;
$size-3: 0.936rem;
$size-4: 0.667rem;
$size-5: 0.624rem;
$size-6: 0.444rem;
$size-7: 0.416rem;
$size-8: 0.296rem;
$size-9: 0.277rem;
$size-10: 0.198rem;
$size-11: 0.185rem;
$size-12: 0.132rem;
$size-13: 0.123rem;
$size-14: 0.088rem;
$size-15: 0.082rem;
$size-16: 0.059rem;
