@import "reset";
@import "modular_scale";

// Fonts
$jockey: 'Jockey One', monospace;
$open: 'Open Sans', 'Century Gothic', sans-serif;

// Widths

// Colors
$lightBlue: #3498db;
$darkBlue: #186189;
$darkGray: #444444;
$lightGray: #F8F8F8;

// Mixins
@mixin vendorize($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

/* Body defaults */
html {
   font-size: 112.5%;
}

body {
   font: {
      family: $open;
   }
   color: $darkGray;
   line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

h1 {
   font-size: $size4;
}

h2 {
   font: {
      family: $open;
      size: $size3;
      weight: 300;
   }
}

h3 {
   font-size: $size2;
}

h4 {
   font-size: $size1;
}

h5 {
   font-size: $size0;
}

h6 {
   font-size: $size-1;
}

a {
   color: $lightGray;
   border-bottom: 2px solid $darkBlue;
   text-decoration: none;
   @include vendorize(transition, all 0.644s ease);

   &:hover, &:active {
      color: $darkBlue;
      border-bottom: 2px solid $lightGray;
      @include vendorize(transition, all 0.444s ease);
   }
   &:visited {

   }

   &.logoLink {
      border: none;
   }
}

li {
   padding: {
      top: $size-2;
      bottom: $size-2;
   }
}

.microspaceBefore {
   margin-left: 2px;
}

.microspaceAfter {
   margin-right: 2px;
}

/* Generic classes */
.blue {
   color: $lightBlue;
}

.gray {
   color: $darkGray;
}

.jockey {
   font-family: $jockey;
}

.open {
   font-family: $open;
}

.italic {
   font-style: italic;
}

.w300 {
   font-weight: 300;
}

.w400 {
   font-weight: 400;
}

.w600 {
   font-weight: 700;
}

/* Layout */
nav {
   .mainNav {
      list-style-type: none;
   }
}

.wrapper {
   width: 100%;
   overflow: hidden;
}

.left, .right {
   float: left;

   // Make columns full height
   margin-bottom: -99999px;
   padding-bottom: 99999px;
   overflow: hidden;
}

.left {
   color: $lightGray;
   background: $darkGray;
   a {
      &:hover, &:active {
         color: $lightBlue;
         border-bottom: 2px solid $lightGray;
      }
   }
   nav {
      .mainNav {
         text-align: right;
         padding-right: $size3;
      }
   }
}

.right {
   background: $lightBlue;
   nav {
      .mainNav {
         padding-left: $size3;
         margin-left: 0;
      }
   }
}

.logoWrapper {
   background: $lightGray;
   border-right: 1px solid $darkBlue;

   h1 {
      font-family: $jockey;
   }

   img {
      vertical-align: -25%;
      max-height: 100%;
      max-width: 100%;
   }
}

.descriptionWrapper {
   color: $lightGray;
   background: $darkBlue;
}

.content {
   background: $lightGray;
   color: $darkGray;
   padding: $size-5 $size3;
   p {
      width: $size18;
   }
   a {
      color: $lightBlue;
      border-bottom: 2px solid $darkGray;

      &:hover {
         color: $darkGray;
         border-bottom: 2px solid $lightBlue;
      }
   }
}

/* Page-specific layouts */
.index {
   .left, .right {
      padding-top: $size9;
   }

   .left {
      width: 56%;
   }
   
   .right {
      width: 44%;
   }

   .logoWrapper, .descriptionWrapper {
      height: $size11;
      margin-top: $size6;
   }

   .logoWrapper {
      h1 {
         text-align: right;
         padding-right: $size3;
         font-size: $size8;
      }
   }

   .descriptionWrapper {
      padding-left: $size3;
      h2 {
         padding-top: 1.5rem;
         font-size: 1.688rem;
      }
   }

}

.page {
   .left {
      width: 30%;
   }

   .right {
      width: 70%;
   }

   .logoWrapper, .descriptionWrapper {
      height: $size8;
      margin-top: $size1;
   }

   .logoWrapper {
      h1 {
         text-align: center;
         font-size: $size6;
      }
   }

   .descriptionWrapper {
      h2 {
         font-size: $size1;
         padding: {
            top: $size1;
            left: $size1;
         }
      }
   }

   .optionalBreak {
      display: none;
   }
}

// Make sure the columns always go to the bottom of the screen
@media screen {

   @media (max-height: 1600px) {
      .wrapper {
         min-height: 1600px;
      }
      .content {
         min-height: 1500px;
      }
   }

   @media (max-height: 1200px) {
      .wrapper {
         min-height: 1200px;
      }
      .content {
         min-height: 1100px;
      }
   }

   @media (max-height: 1000px) {
      .wrapper {
         min-height: 1000px;
      }
      .content {
         min-height: 900px;
      }
   }

   @media (max-height: 800px) {
      .wrapper {
         min-height: 800px;
      }
      .content {
         min-height: 700px;
      }
   }

   @media (max-height: 600px) {
      .wrapper {
         min-max-height: 600px;
      }
      .content {
         min-height: 500px;
      }
   }


}
