// Widths

// Colors
$blue: #3498db;
$shadowBlue: #186189;
$darkGray: #333333;
$lightGray: #EEEEEE;
$borderGray: #E4E7E8;

// Mixings
@mixin vendorize($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

