@import "reset";

// Fonts
$jockey: 'Jockey One', monospace;
$open: 'Open Sans', 'Century Gothic', sans-serif;

// Widths

// Colors
$blue: #3498db;
$shadowBlue: #186189;
$darkGray: #333333;
$lightGray: #EEEEEE;
$borderGray: #E4E7E8;

// Mixins
@mixin vendorize($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

/* Body defaults */
body {
   font: {
      family: $open;
      size: 18px;
   }
   line-height: 1.5em;
}

/* Generic classes */
.blue {
   color: $blue;
}

.gray {
   color: $darkGray;
}

.jockey {
   font-family: $jockey;
}

/* Layout */
.logoWrapper {
   height: 16em;

   h1 {
      font: {
         family: $jockey;
         size: 3em;
      }
   }

   img {
      max-height: 100%;
      max-width: 100%;
   }
}
