.wrapper {
  position: relative;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 240px; }

.box {
  height: 120px;
  width: 120px;
  background: #eeeeee;
  border: 1px solid #e4e7e8;
  border-radius: 12px;
  margin: 0 auto; }

.ladder {
  height: 45px;
  width: 102px;
  border-radius: 3px;
  -webkit-transform: rotate(32.5deg) skew(-32.5deg);
  -moz-transform: rotate(32.5deg) skew(-32.5deg);
  -ms-transform: rotate(32.5deg) skew(-32.5deg);
  -o-transform: rotate(32.5deg) skew(-32.5deg);
  transform: rotate(32.5deg) skew(-32.5deg);
  position: absolute; }

.upper {
  top: 24px;
  right: 56.004px;
  background: #333333;
  z-index: 3; }

.lower {
  bottom: 24px;
  left: 56.004px;
  background: #3498db;
  z-index: 1; }

.shadow {
  top: 59.04px;
  left: 71.04px;
  height: 18px;
  width: 102px;
  background: #186189;
  z-index: 2; }
