// Modular scale on perfect fifth with 18px/256px
// http://modularscale.com/scale/?px1=18&px2=128&ra1=1.5&ra2=0

// Up
$size19: 57.665;
$size18: 53.821;
$size17: 38.444;
$size16: 35.881;
$size16: 25.629;
$size15: 23.92;
$size14: 17.086;
$size13: 15.947;
$size12: 11.391;
$size11: 10.631;
$size10: 7.594;
$size9: 7.088;
$size8: 5.063;
$size7: 4.725;
$size6: 3.375;
$size5: 3.15;
$size4: 2.25;
$size3: 2.1;
$size2: 1.5;
$size1: 1.4;

// Base
$size0: 1rem;

// Down
$size-1: 0.933;
$size-2: 0.667;
$size-3: 0.622;
$size-4: 0.444;
$size-5: 0.415;
$size-6: 0.296;
$size-7: 0.277;
$size-8: 0.198;
$size-9: 0.184;
$size-10: 0.132;
$size-11: 0.123;
$size-12: 0.088;
$size-13: 0.082;
$size-14: 0.059;
$size-15: 0.055;

// Modular Scale
// 20px @ 1:1.5
// 28px @ 1:1.5
//
// http://modularscale.com/scale/?px1=20&px2=28&ra1=1.5&ra2=0
//
// Pixels      Ems     Ems @ 16    % of 13
// 1,153.305   57.665  72.082      8,871.577
// 1,076.417   53.821  67.276      8,280.131
// 768.870     38.444  48.054      5,914.385
// 717.611     35.881  44.851      5,520.085
// 512.580     25.629  32.036      3,942.923
// 478.407     23.92   29.9        3,680.054
// 341.720     17.086  21.358      2,628.615
// 318.938     15.947  19.934      2,453.369
// 227.813     11.391  14.238      1,752.408
// 212.625     10.631  13.289      1,635.577
// 151.875     7.594   9.492       1,168.269
// 141.750     7.088   8.859       1,090.385
// 101.250     5.063   6.328       778.846
// 94.500      4.725   5.906       726.923
// 67.500      3.375   4.219       519.231
// 63.000      3.15    3.938       484.615
// 45.000      2.25    2.813       346.154
// 42.000      2.1     2.625       323.077
// 30.000      1.5     1.875       230.769
// 28.000      1.4     1.75        215.385
// 20.000      1       1.25        153.846
// 18.667      0.933   1.167       143.592
// 13.333      0.667   0.833       102.562
// 12.445      0.622   0.778       95.731
// 8.889       0.444   0.556       68.377
// 8.297       0.415   0.519       63.823
// 5.926       0.296   0.37        45.585
// 5.531       0.277   0.346       42.546
// 3.951       0.198   0.247       30.392
// 3.687       0.184   0.23        28.362
// 2.634       0.132   0.165       20.262
// 2.458       0.123   0.154       18.908
// 1.756       0.088   0.11        13.508
// 1.639       0.082   0.102       12.608
// 1.171       0.059   0.073       9.008
// 1.093       0.055   0.068       8.408

