// Google WebFonts: Merriweather, Open Sans, Inconsolata
// TODO: move to <link>-style import
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300italic,400italic,700,700italic,900italic,900,300|Open+Sans:300italic,600italic,800italic,300,800,600|Inconsolata);

// Typefaces variables
$serif: Merriweather, Times, 'Times New Roman', serif;
$sans: 'Open Sans', 'Century Gothic', Helvetica, Arial, sans-serif;
$mono: Inconsolata, monospace;

// Modular scale:
// "Suspension":
//    20px @ 3:4 perfect fourth
//    30px @ 3:4 perfect fourth
//    (C - F - G - C)

$ginormous: 4.162;
$huge: 3.529rem;

$theta: 3.129;
$eta: 2.653;
$zeta: 2.353;
$epsilon: 1.995;
$delta: 1.769;
$gamma: 1.5;
$beta: 1.33;
$alpha: 1.128;

$base: 1;

$a: 0.848;
$b: 0.752;
$c: 0.638;
$d: 0.565;

.ginormous {font-size: 4.162rem;}
.huge {font-size: 3.529rem;}

.theta {font-size: 3.129rem;}
.eta {font-size: 2.653rem;}
.zeta {font-size: 2.353rem;}
.epsilon {font-size: 1.995rem;}
.delta {font-size: 1.769rem;}
.gamma {font-size: 1.5rem;}
.beta {font-size: 1.33rem;}
.alpha {font-size: 1.128rem;}

.base {font-size: 1rem;}

.a {font-size: 0.848rem;}
.b {font-size: 0.752rem;}
.c {font-size: 0.638rem;}
.d {font-size: 0.565rem;}


//    Pixels	   Ems	   Ems @ 16	   % of 13
//    1,083.801	54.19	   67.738	   8,336.931
//    919.055	   45.953	57.441	   7,069.654
//    814.888	   40.744	50.931	   6,268.369
//    691.019	   34.551	43.189	   5,315.531
//    612.698	   30.635	38.294	   4,713.062
//    519.563	   25.978	32.473	   3,996.638
//    460.675	   23.034	28.792	   3,543.654
//    390.649	   19.532	24.416	   3,004.992
//    346.372	   17.319	21.648	   2,664.400
//    293.721	   14.686	18.358	   2,259.392
//    260.430	   13.022	16.277	   2,003.308
//    220.843	   11.042	13.803	   1,698.792
//    195.812	   9.791	   12.238	   1,506.246
//    166.047	   8.302	   10.378	   1,277.285
//    147.227	   7.361	   9.202	      1,132.515
//    124.847	   6.242	   7.803	      960.362
//    110.697	   5.535	   6.919	      851.515
//    93.870	   4.694	   5.867	      722.077
//    83.231	   4.162	   5.202	      640.238
//    70.579	   3.529	   4.411	      542.915
//    62.580	   3.129	   3.911	      481.385
//    53.067	   2.653	   3.317	      408.208
//    47.053	   2.353	   2.941	      361.946
//    39.900	   1.995	   2.494	      306.923
//    35.378	   1.769	   2.211	      272.138
//    30.000	   1.5	   1.875	      230.769
//    26.600	   1.33	   1.663	      204.615
//    22.556	   1.128	   1.41	      173.508
//    20.000	   1	      1.25	      153.846
//    16.959	   0.848	   1.06	      130.454
//    15.038	   0.752	   0.94	      115.677
//    12.751	   0.638	   0.797	      98.085
//    11.307	   0.565	   0.707	      86.977
//    9.587	      0.479	   0.599	      73.746
//    8.502	      0.425	   0.531	      65.400
//    7.208	      0.36	   0.451	      55.446
//    6.392	      0.32	   0.4	      49.169
//    5.420	      0.271	   0.339	      41.692
//    4.806	      0.24	   0.3	      36.969
//    4.075	      0.204	   0.255	      31.346
//    3.614	      0.181	   0.226	      27.800
//    3.064	      0.153	   0.192	      23.569
//    2.717	      0.136	   0.17	      20.900
//    2.304	      0.115	   0.144	      17.723
//    2.043	      0.102	   0.128	      15.715
//    1.732	      0.087	   0.108	      13.323
//    1.536	      0.077	   0.096	      11.815
//    1.302	      0.065	   0.081	      10.015
//    1.155	      0.058	   0.072	      8.885
